+++
title = "xCore Development Platform"
linkTitle = "xCore Development Platform"

+++

{{< blocks/cover title="Welcome to the xCore Development Board: Integrate your robotics hardware easily!" image_anchor="top" height="full" color="gray-dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Accelerate your robotics development process</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
xCore combines the key components for your next robotics project onto a single board, making it easy to integrate low-level hardware. It features a high-performance STM32H723 microcontroller, a gigabit Ethernet switch, flash storage, an Inertial Measurement Unit (IMU), and a dedicated slot for the Raspberry Pi Compute Module 4 (CM4). All of this is packed into a compact board with a SODIMM connector, ready to fit into any custom project or robotics system.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-heart" title="Support Open Mower!" url="https://patreon.com/ClemensElflein" %}}
Open Mower is a very complicated project, that's why the development and maintenance takes a lot of time. Please consider supporting the project by joining my Patreon.


{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/ClemensElflein/OpenMower" %}}
We do a [Pull Request](https://github.com/ClemensElflein/OpenMower/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-discord" title="Join the Discord!" url="https://discord.gg/jE7QNaSxW7" %}}
For announcement of latest features etc. Most communication for this project is done on the Discord server.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center"><a href="/docs">Read the docs here!</a></h1>
</div>

{{< /blocks/section >}}


